@model PagedResult<Category>
@{
    ViewBag.Title = "Quản lý Loại hàng";
}

@section PageToolBar {
    <a href="~/Category/Create" class="btn btn-primary">
        <i class="bi bi-plus-circle me-1"></i> Bổ sung
    </a>
}

<div class="card mb-3">
    <div class="card-body">
        <form id="formSearch"
              method="get"
              action="@Url.Action("Search", "Category")"
              data-target="searchResult"
              onsubmit="return paginationSearch(event, this, 1);">

            @* GIỐNG CUSTOMER *@
            <input type="hidden" name="PageSize" value="@Model.PageSize" />

            <div class="input-group">
                <input type="text" name="SearchValue"
                       value="@ViewBag.SearchValue"
                       class="form-control"
                       placeholder="Tên loại hàng..." autofocus />

                <button type="submit" class="btn btn-info">
                    <i class="bi bi-search"></i> Tìm kiếm
                </button>
            </div>
        </form>
    </div>
</div>

@* Vùng load AJAX *@
<div id="searchResult"></div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            paginationSearch(null, document.getElementById("formSearch"), 1);
        });
    </script>
}